* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    @include responsive(tablet-landscape) { 
        font-size: 56.5%;
    }
    @include responsive(tablet-portait) { 
        font-size: 50%;
    }
    @include responsive(big-desktop) { 
        font-size: 75%;
    }
}
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    // color: $color-grey-dark;
    // padding: 3rem;
    box-sizing: border-box;
}