.heading{
    color: $text-primary;
    text-transform: uppercase;
    text-align: center;
    &__primary{
        font-size: 3rem;
        letter-spacing: .7rem;
    }
    &__secondary{
        font-size: 2rem;
        letter-spacing: .5rem;
    }
    &__tertiary{
        font-size: 1.2rem;
    }
    &--contest{
        color: $color-white;
        padding: 1rem;
        background-color: $color-secondary;
        border-radius: 5px;
        box-shadow: $default-shadow;
    }
    margin-bottom: 2rem;
}
.signature{
    z-index: 8000;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &__text{
        color: $color-white;
        font-size: 1.6rem;

    }
}
