.heading{
    color: $text-primary;
    text-transform: uppercase;
    text-align: center;
    &__primary{
        font-size: 3rem;
        letter-spacing: .7rem;
    }
    &__secondary{
        font-size: 2rem;
        letter-spacing: .5rem;
    }
    &__tertiary{
        font-size: 1.2rem;
    }
    &--contest{
        color: $color-white;
        padding: 1rem;
        background-color: $color-secondary;
    }
    margin-bottom: 2rem;
}

