$color-primary: #4456DA;
$color-primary-light: #6777ec;
$color-primary-dark: #0d21ba;

$color-secondary: #a344da;

$color-black: #000;
$color-white: #fff;

$text-primary: #4d4c4c;
$text-secondary: #646464;

$color-wrong: rgba(219, 87, 87, 0.8);
$color-right: rgba(87, 219, 120, 0.8);
$color-endgame: rgba(0, 110, 255, 0.9);

$default-shadow:  0px 0px 1.6rem -3px rgba($color-black,0.4);
$default-shadow-hard:  0px 0px 3.6rem -3px rgba($color-black,0.4);
