$color-primary: #4456DA;
$color-primary-light: #6777ec;
$color-primary-dark: #0d21ba;

$color-secondary: #a344da;

$color-black: #000;
$color-white: #fff;

$text-primary: #4d4c4c;
$text-secondary: #646464;

$color-wrong: #db5757;
$color-right: #57db78;

$default-shadow:  0px 0px 2.6rem -3px rgba($color-black,0.4);
