.main-box{
    background-color:$color-white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding:4rem;
    width: 42rem;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 1rem 1rem 4rem rgba($color-black, .5);
}