.main{
    height: 100vh;
    position: relative;
    background-image: radial-gradient( $color-primary-light, $color-primary-dark);
    // background-image: ;
}
.score-board{
    position: absolute;
    bottom: 4%;
    right: 6%;
   
    &__text{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .5rem;
        font-size: 2rem;
        color: $text-primary;
    }
}
.u-center{
    text-align: center;
}
.button-wraper{
    &__flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__grid{
        // margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        justify-items: center;
    }
}