* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading {
  color: #4d4c4c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.heading__primary {
  font-size: 3rem;
  letter-spacing: .7rem;
}

.heading__secondary {
  font-size: 2rem;
  letter-spacing: .5rem;
}

.heading__tertiary {
  font-size: 1.2rem;
}

.heading--contest {
  color: #fff;
  padding: 1rem;
  background-color: #a344da;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2.6rem -3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 2.6rem -3px rgba(0, 0, 0, 0.4);
}

.main {
  height: 100vh;
  position: relative;
  background-image: radial-gradient(#0d21ba, #6777ec);
}

.score-board {
  position: absolute;
  bottom: 4%;
  right: 6%;
}

.score-board__text {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem;
  font-size: 2rem;
  color: #4d4c4c;
}

.u-center {
  text-align: center;
}

.button-wraper__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button-wraper__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
}

.main-box {
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  padding: 4rem;
  width: 42rem;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.5);
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-color: #646464;
  margin: 1rem;
  padding: 1rem 4rem;
  color: white;
  font-family: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
}

.btn:hover {
  background-color: #6777ec;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 1px 1px 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  background-color: #4456DA;
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 1px 1px 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 4rem rgba(0, 0, 0, 0.1);
}

.btn__start {
  text-align: center;
}

.message {
  display: none;
  position: absolute;
  top: 10%;
  width: 34rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 8000;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 2rem 0;
  -webkit-box-shadow: 0px 0px 2.6rem -0.3rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 2.6rem -0.3rem rgba(0, 0, 0, 0.4);
}

.message__text {
  font-weight: 700;
  font-size: 2.3rem;
}

.message--right {
  background-color: #57db78;
}

.message--wrong {
  background-color: #db5757;
}
/*# sourceMappingURL=main.css.map */